<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/Todo.css">
      <link rel="icon" href="data:;base64iVBORwOKGgo=">
      <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
      <script>tinymce.init({ selector:'textarea'});</script>

      

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
       <header>
            <nav>
                <a href="#" class="brand-logo">Todo List</a>
              <div class="fixed-action-btn horizontal click-to-toggle" style="top: 0.5px; right: 240px;">
                  <a class="btn-floating btn-large blue darken-3">
                     <i class="material-icons">menu</i>
                  </a>
                  <ul>
                     <li><a href="index.html" class="btn-floating btn-large red black-text">Home</a></li>
                     <li><a href="adminTodo.html" class="btn-floating btn-large blue black-text">Admin</a></li>
                  </ul>
               </div>
            </nav>
        </header>
    <main>
        <div class="container">
            <div class="row">
                <h1 class="center-align">Todo List</h1>
            </div>
            <div class="row">
                <div class="col s12 main-container">
                    
                </div>
            </div>
        </div>  
    </main>
        <footer class="page-footer blue-grey">
            <div class="container blue-grey right">
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container right">
                    @2016 Richard
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script src="js/adminTodo.js" type="text/javascript"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script src="js/handlebars-v4.0.5 (3).js" type="text/javascript"></script>
      
      <script id="login-template" type="text/x-handlebars-template">
          <div class="col s6">
          <h2 class="center-align">Login</h2>
          <div>
              <form class="col s12 form-signin">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email"  type="email" name="emial" class="validate">
                          <label for="email">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password"  type="password" name="password" class="validate">
                           <label for="password">Password</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effect waves-purple" type="submit" name="action">Submit</button>
                          </p>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      </script>
      <script id="welcome-template" type="text/x-handlebars-template">
          <h2>Welcome, {{email}}</h2>
          <button class="btn btn-large waves-efect waves-light add-blog">Add a new Task</button>
          <button class="btn btn-large waves-efect waves-light logout">Logout</button>
      </script>
      <script id="add-blog-template" type="text/x-handlebars-template">
          <h2>Add a new Task</h2>
          <h4>Add Title Here</h4>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <h3>Add Message Here</h3>
                      <label for="title">Add Title Here</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <textarea id="content" name="content" class="materialize-textarea"></textarea>
                      <label for="content">Add Message Here</label>
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                      </p>
                  </div>
              </div>
          </form>
      </div>
      </script>
    </body>
  </html>
