<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/Todo.css">
      <link rel="icon" href="data:;base64iVBORwOKGgo=">
      <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
      

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      </head>

    <body>
        <header>
            <nav>
                <a href="#" class="brand-logo">Todo List</a>
              <div class="fixed-action-btn horizontal click-to-toggle" style="top: 0.5px; right: 240px;">
                  <a class="btn-floating btn-large blue darken-3">
                     <i class="material-icons">menu</i>
                  </a>
                  <ul>
                     <li><a href="index.html" class="btn-floating btn-large red black-text">Home</a></li>
                     <li><a href="adminTodo.html" class="btn-floating btn-large blue black-text">Admin</a></li>
                  </ul>
               </div>
            </nav>
        </header>
    <main>
        <div class="container">
            <div class="row">
                <h1 class="center-align">My Todo List</h1>
            </div>
            <div class="row">
                <div class="col s12 main-container">
                    
                </div>
            </div>
        </div>  
    </main>
        <footer class="page-footer purple">
            <div class="container right">
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Richard
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/Todo.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script src="js/handlebars-v4.0.5 (3).js" type="text/javascript"></script>
       
      <script id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
           <div class="blog-post">
           <div class="chip">
           <i class="material-icons">done</i>
           <i class="material-icons deleteA" type="submit" name="action" data={{objectId}}>delete</i>
                <h2 class="blog-post-title">{{title}}</h2>
                <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
                <div>{{{content}}}</div>
             </div>
          {{/each}}
      </script>
    </body>
  </html>